body {
  background-color: #242423;
  color: #fff;
  .bg-red {
    background-color: #DB222A;
  }
  .bg-green {
    background-color: #16DB65;
  }
  .progress .indeterminate {
    background-color: #F2E94E;
  }
}

/*
* SCROLLBAR CUSTOM
 */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F2E94E;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(243, 156, 18, 0.82);
}
