html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary-background);
  color: var(--primary-white);
  overflow-x: hidden !important;
  .bg-red {
    background-color: var(--primary-red);
  }
  .bg-green {
    background-color: var(--primary-green);
  }
  .bg-grey {
    background-color: var(--primary-grey);
  }
  .progress .indeterminate {
    background-color: var(--progress-background);
  }
  a {
    font-family: 'Roboto', sans-serif;
    color: var(--progress-color) !important;
    text-decoration: underline;
  }
}

/*
* SCROLLBAR CUSTOM
 */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-background);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-background-hover);
}

/*
* TOOLTIPS CUSTOM
 */
.material-tooltip {
  max-width: 50% !important;
  background-color: var(--tooltips-background) !important;
  color: var(--tooltips-color) !important;
  hr {
    border-color: var(--tooltips-background) !important;
  }
}

.tooltipped:hover {
  cursor: pointer;
}

/*
* MODAL CUSTOM
 */
.modal {
  background-color: var(--primary-background) !important;
  position: relative !important;
  .modal-title, h4 {
    color: var(--primary-color) !important;
  }
}

/*
* CHECKBOX
 */
/*checkbox is not checked*/
[type="checkbox"]+span:not(.lever):before {
  border-color: var(--primary-color) !important;
}

/*checkbox is checked*/
[type="checkbox"]:checked+span:not(.lever):before {
  border-top: transparent !important;
  border-left: transparent !important;
  border-right: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

/*
* BTN
 */
.btn {
  background-color: var(--primary-color) !important;
  color: var(--primary-background) !important;
}

/*
* INPUT
 */
input {
  color: var(--primary-color) !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  border-bottom-color: var(--primary-color);
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid var(--primary-color) !important;
  box-shadow: 0 1px 0 0 var(--primary-color) !important;
}

.select-wrapper {
  input.select-dropdown:focus {
    border-bottom: 1px solid var(--primary-color) !important;
  }
  svg {
    fill : var(--primary-color) !important;
  }
}

.select-dropdown {
  li {
    span {
      color: var(--primary-background) !important;
    }
  }
  li:hover{
    background-color: var(--primary-color) !important;
  }
}

.api-input {
  margin-top: 25px !important;
  label {
    color: var(--primary-color) !important;
    font-family: 'Roboto', sans-serif;
  }
}

.helper-text {
  color: var(--primary-red) !important;
}

/*
* CUSTOM CLASS
 */
.full {
  height: 100vh;
  width: 100%;
}

.error {
  color: var(--primary-red) !important;
}

.alert-warning {
  padding: 15px;
  background-color: var(--secondary-red);
}
