:root {
  --primary-white: #fff;
  --primary-black: #000;
  --primary-green: #27ae60;
  --primary-red: #c0392b;
  --secondary-red: rgba(219, 34, 42, 0.55);

  --primary-background: #1f1f1f;
  --secondary-background: #313336;
  --primary-color: #fbd54a;
  --secondary-color: rgb(251, 213, 74);
  --tierce-color: rgba(243, 156, 18, 0.82);

  --scrollbar-background: var(--secondary-color);
  --scrollbar-background-hover: var(--tierce-color);

  --navbar-link: #333;

  --progress-color: var(--primary-color);
  --progress-background: var(--secondary-color);

  --card-background: #0000009c;
  --card-front-title: rgba(255, 255, 255, 0.69);
  --card-background-hover: rgba(0, 0, 0, 0.15);
  --card-background-close: rgba(41, 41, 41, 0.27);
  --card-color-close: rgba(255, 255, 255, 0.84);
  --card-background-tree: rgb(51, 51, 51);

  --arrow-background: var(--card-background-tree);
  --arrow-border: var(--primary-background);
}
