.screen {
  overflow: auto;
  table {
    width: max-content;
    position: relative;
    th, td {
      border-left: solid rgba(0, 0, 0, 0.20) 1px;
      text-align: center;
    }
    .subTable {
      padding: 0;
      .table {
        display: flex;
        align-items: center;
        justify-content: center;
        .map-item {
          .map-item-screen {
            display: flex;
            align-items: center;
          }
          .map-choice {
            display: flex;
            flex-direction: column;
            .lb-one {
              .card {
                z-index: 2;
                height: 20px;
                width: 20px;
                margin: 5px;
              }
              .arrow {
                width: 1px;
                position: absolute;
                z-index: 1;
              }
            }
          }
        }
      }
    }
  }
}
