.screen {
  overflow: auto;
  table {
    width: max-content;
    th, td {
      border-left: solid rgba(0, 0, 0, 0.20) 1px;
      text-align: center;
    }
    .subTable {
      padding: 0;
      table {
        width: 100%;
        td {
          border-left: 0;
          border-right: solid rgba(0, 0, 0, 0.20) 1px;
          border-radius: 0;
        }
      }
    }
  }
}
