nav {
  background-color: var(--primary-color) !important;
  a {
    color: var(--navbar-link) !important;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;

    &:hover {
      .rotate {
        animation: rotate 1s infinite linear;
        @keyframes rotate {
          0%{transform: rotate(360deg);}
          100%{transform: rotate(0deg);}
        }
      }
    }
  }
  .brand-logo {
    font-family: Lexend Zetta, sans-serif;
  }
}

.svg_wave {
  fill: var(--primary-fill);
  stroke: var(--primary-stroke);
}

.sidenav {
  background-color: var(--primary-background) !important;

  i {
    color: var(--primary-color) !important;
  }
}
